@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --cor-fundo: #121212;
    --cor-destaque: #FD6F00;
    --cor-destaque-selecionado: #baf2ff;
    --cor-destaque-hover: #F6F6F6;
    --cor-fundo-botao-hover: #272727;
    
    --cor-texto: #707070;
    --cor-texto-claro: #DFDFDF
    

}

*{
    margin: 0;
    padding: 0;
}

body{
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    box-sizing: border-box;
    
    background-color:var(--cor-fundo);
    color: var(--cor-texto);
}

main{
    width: 100%;
}

content{
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    /* Box */
    height: 100vh;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
    background: rgb(18,18,18);
    background: linear-gradient(100deg, rgba(18,18,18,1) 0%, rgba(18,18,18,1) 10%, rgba(36,22,0,1) 20%, rgba(18,18,18,1) 30%, rgba(18,18,18,1) 100%);
    
}

sp{
    /* Box */
    width: 4px;
    height: 80%;
    border-radius: 4px;

    background: #95959570;
}

/* Landing area */

.landingBG{
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    /* Box */
    height: 100vh;
    width: 100%;
    background-color: var(--cor-fundo);
}

.landing__left__me{
    /* Alignment */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
}

.landing__left__me__text{
    /* Alignment */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.landing__left__me__text__presentation{
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;

    color: var(--cor-texto);
}

.landing__left__me__text__presentation__myName{
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.75rem;

    color: var(--cor-texto);
}

.landing__left__me__text__professions{
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.375rem;

    color: rgba(253,111,0,1);
}

.landing__left__me__links{
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1.25rem;
}

.landing__left__me__links__link{
    height: 2.5rem;
    width: 2.5rem;
}

.landing__left__me__links__link:hover{
    height: 3rem;
    width: 3rem;

    margin: -.25rem -.25rem -.25rem -.25rem;
}

.landing__left__me__buttonArea{
    /* Alignment */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 60%;
    gap: 1.5rem;
}

.landing__left__me__buttonArea__button{
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    /* Box */
    border: 2px solid var(--cor-destaque);
    height: 4rem;
    width: 30vw;
    border-radius: 16px;

    /* Text and font */
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--cor-texto);
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.landing__left__me__experience{
     
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
    
    /* Box */
    width: 60%;
    height: 7.5rem;
    border-radius: 16px;
    background-color: rgba(255,255,255, .04);
}



.landing__left__me__experience__obj{
    /* Alignment */
    display: flex;
    flex-grow: 5;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: .75rem;
    
    /* Box */
    width: 60%; 
    height: 7.5rem;
    padding-left: 5%;
}

.landing__left__me__experience__obj > strong{
    /* Text and font */
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-destaque);
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.landing__left__me__experience__obj > p{
    /* Text and font */
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--cor-texto-claro);
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.landing__photoArea{
    /* Alignment */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;

    
    height: 100%;
}

.landing__photoArea__Photo{
    /* Alignment */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    flex-grow: 0.5;
}