@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --cor-fundo: #121212;
    --cor-destaque: #FD6F00;
    --cor-destaque-selecionado: #baf2ff;
    --cor-destaque-hover: #F6F6F6;
    --cor-fundo-botao-hover: #57575777;
    --cor-fundo-footer: #27272777;
    --cor-fundo-header: #27272777;
    
    --cor-texto: #707070;
    --cor-texto-claro: #DFDFDF;
    
    --cor-texto-nav: #707070;
    --cor-texto-nav-hover: #DFDFDF;
    --cor-texto-nav-selecionado: #FD6F00;
    --cor-texto-nav-selecionado-hover: #ffb882;
    
    --font-main: "Lato";
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    
    /* box */
    height: 100vh;
    width: 100vw;
    background-color:var(--cor-fundo);
    color: var(--cor-texto);
}

header
{
    /* Alignment */
    display: flex;
    align-items: center;
    
    /* Box */
    height: 5%;
    width: 80%;
    padding-left: 20%;
    background-color: var(--cor-fundo-header);
}

main{
    /* Alignment */
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;

    /* Box */
    width: 100%;
    height: 95%;
}

header>nav{
    /* Alignment */
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 3.25rem;

    font-family: var(--font-main), serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
}

header>nav>a{
    text-decoration: none;
}

header>nav>a>p{
    color: var(--cor-texto-nav);
}

header>nav>a>p:hover{
    color: var(--cor-texto-nav-hover);
}

header>nav>a>strong{
    color: var(--cor-texto-nav-selecionado);
}

header>nav>a>strong:hover{
    color: var(--cor-texto-nav-selecionado-hover);
}

sp{
    /* Box */
    width: 4px;
    height: 80%;
    border-radius: 4px;

    background: #95959570;
}

/* Landing area */

.landing{
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    /* Box */
    background: linear-gradient(100deg, rgba(18,18,18,1) 0%, rgba(18,18,18,1) 20%, rgba(36,22,0,1) 30%, rgba(18,18,18,1) 40%, rgba(18,18,18,1) 100%);
    height: 95vh;
    width: 100%;
}

.landing__left__me{
    /* Alignment */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 2rem;
    height: 80%;
    padding-left: 20%;
}

.landing__left__me__text{
    /* Alignment */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    
    gap: 1rem;
}

.landing__left__me__text__presentation{
    font-family: var(--font-main), serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;

    color: var(--cor-texto);
}

.landing__left__me__text__presentation__myName{
    font-family: var(--font-main), serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.75rem;

    color: var(--cor-texto);
}

.landing__left__me__text__professions{
    font-family: var(--font-main), serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.375rem;

    color: rgba(253,111,0,1);
}

.landing__left__me__links{
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1.25rem;
}

.landing__left__me__links__link{
    height: 2.5rem;
    width: 2.5rem;
}

.landing__left__me__links__link:hover{
    height: 3rem;
    width: 3rem;

    margin: -.25rem -.25rem -.25rem -.25rem;
}

.landing__left__me__buttonArea{
    /* Alignment */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    gap: 1.5rem;
}

.landing__left__me__buttonArea__button{
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    /* Box */
    border: 2px solid var(--cor-destaque);
    height: 4rem;
    width: 48%;
    border-radius: 16px;

    /* Text and font */
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--cor-texto);
    font-family: var(--font-main), serif;
    font-weight: 700;
    font-style: normal;
}

.landing__left__me__buttonArea__button:hover{
    /* Box */
    height: 4.2rem;
    width: 53%;
    margin-top: -.1rem;
    margin-bottom: -.1rem;
    margin-left: -2.5%;
    margin-right: -2.5%;
    background-color: var(--cor-fundo-botao-hover);

    /* Text and font */
    font-size: 1.35rem;
}

.landing__left__me__experience{
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
        
    /* Box */
    width: 80%;
    height: 7.5rem;
    border-radius: 16px;
    background-color: rgba(255,255,255, .04);
}

.landing__left__me__experience__obj{
    /* Alignment */
    display: flex;
    flex-grow: 5;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: .75rem;
    
    /* Box */
    height: 80%;
    padding-left: 3%;
    margin-left: 2%;
    margin-right: 2%;
}

.landing__left__me__experience__obj:hover{
    /* Box */
    background: var(--cor-fundo-botao-hover);
    border-radius: 10px;
}

.landing__left__me__experience__obj > strong{
    /* Text and font */
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-destaque);
    font-family: var(--font-main), serif;
    font-weight: 700;
    font-style: normal;
}

.landing__left__me__experience__obj > p{
    /* Text and font */
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--cor-texto-claro);
    font-family: var(--font-main), serif;
    font-weight: 700;
    font-style: normal;
}

.landing__photoArea{
    /* Alignment */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    
    
    height: 100%;
}

.landing__photoArea__Photo{
    /* Alignment */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    width: auto; /* you can use % */
    height: 95%;
    
    right: 0;
    bottom: 7%;
}

footer{
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 2%;

    /* Box */
    height: 5%;
    width: 100%;
    background-color: var(--cor-fundo-footer);
}

@media (max-width: 1250px){
    .landing{
        /* Alignment */
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    
        /* Box */
        background: linear-gradient(100deg, rgba(18,18,18,1) 0%, rgba(18,18,18,1) 10%, rgba(36,22,0,1) 20%, rgba(18,18,18,1) 30%, rgba(18,18,18,1) 100%);
        height: 95vh;
        width: 100%;
    }
    
    .landing__left__me{
        /* Alignment */
        padding-left: 10%;
    }

    header{
        width: 90%;
        padding-left: 10%;
    }

}

@media (max-width: 1100px){
    .landing__left__me{
        /* Alignment */
        padding-left: 5%;
    }

    header{
        width: 95%;
        padding-left: 5%;
    }

    .landing__photoArea__Photo{
        /* Alignment */
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        position: absolute;
        width: auto; /* you can use % */
        height: 75%;
        
        right: 0;
        bottom: 7%;

        background-image: url("Assets/FotoEduardoPoffo");
    }
}

/* Phone */
@media (max-width: 950px){
    .landing__photoArea__Photo{
        /* Alignment */
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        position: absolute;
        width: auto; /* you can use % */
        height: 0%;
        
        right: 0;
        bottom: 7%;

        background-image: url("Assets/FotoEduardoPoffo");
    }
}